/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #ededed;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: #2dc997;
}

a:hover, a:active, a:focus {
  color: #2dca98;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

#laholm-footer { 
    margin-top: 2.7rem;
}

#plus {
    background-color: #2dc997;
    color: white;
    padding: 0rem 5rem; 
    font-size: 3.2rem;
    text-align: center;
    display: inline-block;

  } 

  #plus:hover {
    background-color: #1f8c69;

  } 

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 30px 0;
  height: 92px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background-color: RGB(0,0,0,0.2);
  
}

#header #logo {
  float: left;

}

#logo {
 
  
}


#header #logo h1 {
  font-size: 46px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  margin-top:-2.3em;
  max-height: 110px;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 46px;
    
  }

  #header #logo img {
    max-height: 110px;
  }
}

#header.header-fixed {
  background: rgba(52, 59, 64, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
  
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 50vh;
  background: url(bild.jpg) top center;
  background-size: cover;
  position: relative;s
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  height: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

}

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10rem;  
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;

}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
}


@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  outline: none;
  font-size: 1.5rem;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2dc997;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-menu ul {
  margin: 4px 0 0 0;
  border: 1px solid #e7e7e7;
}

.nav-menu ul li {
  background: #fff;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li a:hover {
  background: #2dc997;
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}




/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #2dc997;
}

#mobile-nav ul .menu-item-active {
  color: #2dc997;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;

}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}


/* DIGITALA KARTAN */
#map {
  height: 45rem;
  width: 75rem;
  margin: 1rem 2rem;
  border: 1px solid grey;

}

#map-container {
margin: auto;
}

.map-info {
 text-align: left;

}

.padmeright {
 padding-left: 2rem;
 width: 100vh;

}



.map-info {

padding-top: 1rem;
border-right: 0.5px solid lightgrey;
margin:auto;
padding-left: 10rem;
padding-bottom: 3rem;

}

#map-info3 {
  padding-top: 7.6rem;
  display: none;


  }

#map-info2, #map-info3{
  display: none;


}

#map-info2 p {
  background-color:  #d1d1d1;

}

#map-info2  {
    padding-top: 3rem;
    padding-left: 5rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  height: 3rem;
  width: 3rem;



  }

.icons-info{
  height: 3.8rem;
  width: 3.8rem;
  padding: 0rem;
  margin: 0rem;
  position: relative;
  top: -0.25rem;


}

#map-info-dropdown {
  padding-top: 3rem;
  display: none;
  width: 100vh;
  padding-left: 5rem;

}


#rating-dropdown {
  position: relative;
  right: 2.7rem;

}




#icon1, #icon2, #icon3 {
  width: 3.3rem;
  height: 3.3rem;


}

#icons_map {
  position: relative;
  top: -2.1rem;
  left: 11rem;

}

/********************/
#campsite-info {
  z-index: 50000;
  border: 1px solid slategrey;
  text-align: center;
  width:  15%;
  height: 1.8rem;
  margin: 0.1rem 2rem;
  position: relative;
  top: -5.6rem;
  background-color: rgba(245,245,245, 0.85);

}
#campsite-info h4 {
float:left;
margin: 0rem 0.2rem;
  
}

#campsite-info-place {
  background-color: grey;
  display: none;
  
}



/*SEARCH BAR*/ 
#search_field {
  height: 2.5rem;
  width:  111vh;
  min-width: 15%;
  padding: -0.1rem;
  border-radius: 0;
  background-color: rgba(245,245,245, 0.85);
  color: slategrey;
  border: 1px solid slategrey;
  font-size: 1.5rem;
  margin: 0.1rem 2rem;


}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: slategrey;
}

/* width */
::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(232, 232, 232, 1);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(194, 194, 194, 1);  
}

.search_me h2:hover { 
    color: yellow;
}
/********************/
/****Search Bar Auto *****/
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.carousel-inner { 
  border: 1px solid black;

}



.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}


@media only screen and (max-width: 1080px) {
  #footer, #search_field, #map-dropdown-left, #map-dropdown-right, {
    display: none;
  }
  #map {
    width:  65vh;
    height: 65vh;
  } 
   #header  {

  } 

}



